/* assets/custom.css */
.custom-tab {
  background-color: #2a2a2a;
  color: #ccc;
  border: none;
}

.custom-tab--selected {
  background-color: #444;
  color: #fff;
  font-weight: bold;
}
.accordion-item .accordion-header {
    background-color: #ab82c5;
    border: 1px solid  #57058c;
    color: #efefef;
}

/* Active (expanded) accordion item */
.accordion-item .accordion-button:not(.collapsed) {
    background-color: #57058c;
    color: #efefef;
}


